.parent{
    padding: 20px;
    height:100px;
    background-color: aqua;
   
    background-image:radial-gradient(#e91010, #f7f764 25%,#150ee0 35%);
    position: relative;
    border:1px solid black;
    left:20px;
    top:20px;
    bottom:20px;
}

.hero{
    background-color: blue;
    background-image: linear-gradient(240deg,#9c7a9c, #f7f764,#e55858);
    padding: 10px;
    position:sticky;
  
    top: 1px;
   
  
    border:1px solid black;
}

.child{
    background-color:rgb(201, 207, 44);
    background-image: linear-gradient(240deg,#9c7a9c, #d2226a00,#d217522b);
    padding: 10px; 
    border:1px solid black;
    position: absolute;
    top:10px;
    left:20px;
}
    .child1{
        background-color:rgb(35, 119, 220);
        background-image:repeating-linear-gradient(#e91010, #f7f764,#150ee0);
        padding: 10px; 
        border:1px solid black;
        position: absolute;
        top:120px;
        left:20px;
}
body{
    height: 500px;
}

img{
    width:250px;
}


.circlegradient{
    width:200px;
    height:200px;
    background-image: radial-gradient(red,yellow,blue);
}
.circlegradient1{
    width:200px;
    height:200px;
    background-image: radial-gradient(closest-side at 25% 75% ,red,yellow,blue);

}
.circlegradient2{
    width:200px;
    height:200px;
    background-image: radial-gradient(farthest-side at 25% 75% ,red,yellow,blue);

}
.circlegradient3{
    width:200px;
    height:200px;
    background-image: repeating-radial-gradient(red,yellow 15%,blue 20%);

}